@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 230 238;
    --foreground: 91 91 91;
    --card: 253 237 201;
    --card-foreground: 91 91 91;
    --popover: 255 255 255;
    --popover-foreground: 91 91 91;
    --primary: 208 79 153;
    --primary-foreground: 255 255 255;
    --secondary: 138 207 209;
    --secondary-foreground: 51 51 51;
    --muted: 178 225 235;
    --muted-foreground: 122 122 122;
    --accent: 251 226 167;
    --accent-foreground: 51 51 51;
    --destructive: 249 111 112;
    --destructive-foreground: 255 255 255;
    --border: 208 79 153;
    --input: 228 228 228;
    --ring: 230 112 171;
    --chart-1: 230 112 171;
    --chart-2: 132 210 226;
    --chart-3: 251 226 167;
    --chart-4: 243 160 202;
    --chart-5: 215 72 142;
    --sidebar: 248 216 234;
    --sidebar-foreground: 51 51 51;
    --sidebar-primary: 236 72 153;
    --sidebar-primary-foreground: 255 255 255;
    --sidebar-accent: 249 168 212;
    --sidebar-accent-foreground: 51 51 51;
    --sidebar-border: 243 232 255;
    --sidebar-ring: 236 72 153;
    --radius: 0.4rem;
  }

  .dark {
    --background: 18 36 46;
    --foreground: 243 227 234;
    --card: 28 46 56;
    --card-foreground: 243 227 234;
    --popover: 28 46 56;
    --popover-foreground: 243 227 234;
    --primary: 251 226 167;
    --primary-foreground: 18 36 46;
    --secondary: 228 162 177;
    --secondary-foreground: 18 36 46;
    --muted: 36 39 43;
    --muted-foreground: 228 162 177;
    --accent: 198 123 150;
    --accent-foreground: 243 227 234;
    --destructive: 227 94 164;
    --destructive-foreground: 18 36 46;
    --border: 50 72 89;
    --input: 32 51 61;
    --ring: 80 175 182;
    --chart-1: 80 175 182;
    --chart-2: 228 162 177;
    --chart-3: 198 123 150;
    --chart-4: 23 92 108;
    --chart-5: 36 39 43;
    --sidebar: 16 31 40;
    --sidebar-foreground: 243 244 246;
    --sidebar-primary: 236 72 153;
    --sidebar-primary-foreground: 255 255 255;
    --sidebar-accent: 249 168 212;
    --sidebar-accent-foreground: 31 41 55;
    --sidebar-border: 55 65 81;
    --sidebar-ring: 236 72 153;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
